//
// Main Stylesheet
//

@import "compass"
@import "h5bp"

// HTML5 Boilerplate Styles
@include h5bp-normalize
@include h5bp-base-styles

// HTML5 Boilerplate styling for Chrome Frame
@include h5bp-chromeframe

// Susy Grid Systems - choose one to customize
// @import "grid/fixed"
@import "grid/magic"

// Variables

// Fonts
$body-font: StanPlusPro-Normal
$body-font-italic: StanPlusPro-NormalItalic 
$body-font-bold: StanPlusPro-Bold
$header-font1: ProximaNovaACond-Bold
$header-font2: ProximaNovaACond-Semibold

// Colors

$linklog-color: #669999
$gray-color: #999999
$red-color: #FF3333
$background-color: #FDFDFD
$text-color: #252525

// Your own styles go here.
body
  font-family: $body-font
  font-size: 19px
  color: $text-color
  background-color: $background-color

a, a:hover, a:visited
  text-decoration: none
  color: $red-color
  &.linklog
    color: $linklog-color

h1, h2, h3
  font-weight: normal

h1
  font-family: $header-font1
  font-size: 40px
  color: #999
  text-transform: uppercase
  line-height: 1em
  margin: 8px 0 0 0
  
h2
  font-family: $header-font2
  font-size: 34px
  line-height: 1em
  margin: 30px 0 0 0
header h2
  margin: 0
  a, a:link, a:hover, a:visited
    color: $gray-color
h3
  font-family: $header-font2
  text-decoration: underline
  line-height: 1em
  margin: 1em 0 -4px 0  
  
p, pre
  line-height: 30px
  margin: 30px 0 30px 0

kbd
  background-color: #f5f5f5
  border: 1px solid #dedede
  padding: 0px 3px 2px
footer
  margin-top: 3em
  text-align: right

blockquote
  font-family: $body-font-italic
  color: #7f7f7f
  padding-left: 14px
  border-left: 6px $gray-color solid
  
strong
  font-family: $body-font-bold 
  font-weight: normal

hr
  border: none
  font-size: 16px
  color: #bfbfbf
  text-align: center
  margin: 1em 0 2em 0
  &:after
    content: "✧✧✧"
    letter-spacing: 2em
    padding-left: 2em

// Main layout styling

.container
  
  #main-content
    overflow: visible
  
  // Force images to scale down to their container widths.
  img
    max-width: 100%
    height: auto
    margin-top: 30px
    @include box-shadow($gray-color 0 0 10px)
    @include border-radius

  .title
    font-size: 24px
    margin-top: 16px
    a, a:visited
      color: $gray-color
    img
      margin: 0
      margin-top: -4px
      float: right
      border: none
      @include box-shadow(none)
      @include border-radius(0)
      width: 30px
      height: 30px
      @include opacity(0.3)
      
  .twitter
    a, a:visited
      color: $gray-color
      font-size: 12px
    
  hr.postDivider
    font-size: 24px
    color: $gray-color
    margin: 2em 0 3em 0
    
  .postDate, .postDate a
    &:link, &:hover, &:visited
      color: $gray-color
      
  sup
    vertical-align: super
    font-size: 0.5em
      
  .footnotes
    font-size: 16px
    li
      margin-bottom: 1em
    p
      display: inline
          
// H5BP helper classes & mixins.
// @include h5bp-helpers

// Print styles.
@include h5bp-media

// Bootstrap Pagination
@import "bootstrap-pagination"
