//
// Main Stylesheet
//

@import "compass"
@import "h5bp"

// HTML5 Boilerplate Styles
@include h5bp-normalize
@include h5bp-base-styles

// HTML5 Boilerplate styling for Chrome Frame
@include h5bp-chromeframe

// Variables

// Fonts
$body-font: Brown-Light
$body-font-italic: Brown-ThinItalic
$body-font-bold: Brown-Medium
$header-font1: Brown-Bold
$header-font2: Brown-Medium

// Colors

$linklog-color: #669999
$gray-color: #999999
$red-color: #FF3333
$background-color: #FDFDFD
$text-color: #252525
$line-height: 27px
$body-size: 19px

// Main layout styling

.container
  
  #main-content
    overflow: visible
  
  #projects
  
    .project_category
      font-family: $header-font2
      font-size: 16px
      text-decoration: underline
      margin: 3em 0 1em 0
    
    article
      padding-bottom: 0.2em
      border-bottom: dashed 1px $gray-color
      margin-bottom: 1.5em
      h1
        font-size: 36px
  
  // Force images to scale down to their container widths.
  img
    max-width: 100%
    display: block
    height: auto
    margin-top: $line-height
    +border-radius
  
  header.title
    width: 100%
    border-bottom: solid $text-color 3px
    margin-top: 12px
    h1
      font-size: 52px
    a, a:visited
      color: $text-color
      font-family: $header-font1
  
  nav
    margin: 6px 0 $line-height 0
    a, a:visited
      font-family: $header-font2
      color: $text-color
    ul
      margin: 0
      margin-bottom: $line-height * 2
      padding: 0
      li
        display: inline
        list-style-type: none
        list-style-position: none
        list-style-image: none
      li + li
        padding-left: 0.9em
  
  a.selected
    border-bottom: solid $red-color 1px
        
  article
    a, a:hover, a:visited
      &.linklog
        color: $linklog-color
      &.comments-link
        color: $gray-color
      &.reversefootnote
        padding-left: 4px    
        
    li
      margin-bottom: 0.5em
    
    hr.postDivider
      font-size: 24px
      color: $gray-color
      margin: 2em 0 3em 0
    
    .postDate, .postDate a
      &:link, &:hover, &:visited
        color: $gray-color
        font-family: $body-font
      
    sup
      vertical-align: middle
      font-size: 0.75em
    
    .video-container
      position: relative
      padding-bottom: 56.25%
      padding-top: 30px
      height: 0
      overflow: hidden
      
    .video-container
      iframe, object, embed
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
      
    div.footnotes
      border: thin dashed $gray-color
      background: #F9F6F4
      margin: $line-height 0
      padding-right: 16px
    
    .footnotes
      font-size: 17px
      line-height: 23px
      li
        margin-bottom: 1em
      p
        display: inline

// Your own styles go here.
body
  font-family: $body-font
  font-size: $body-size
  line-height: $line-height
  color: $text-color
  background-color: $background-color

em, i
  font-family: $body-font-italic
  font-weight: normal
  padding-right: 2px

a, a:hover, a:visited
  text-decoration: none
  color: $red-color

h1, h2, h3
  font-weight: normal

h1
  font-family: $header-font1
  font-size: 38px
  color: #999
  line-height: 1em
  margin: 8px 0 2px 0
  
h2
  font-family: $header-font2
  font-size: 26px
  line-height: 1em
  margin: $line-height 0 $line-height 0
header h2
  margin: 0
  a, a:link, a:hover, a:visited
    color: $gray-color
h3
  font-size: 20px
  font-family: $header-font2
  text-decoration: underline
  line-height: 1em
  margin: $line-height 0 -4px 0  
  
p, pre
  margin: $line-height 0 $line-height 0

kbd
  background-color: #f5f5f5
  border: 1px solid #dedede
  padding: 0px 3px 2px
footer
  margin-top: 3em
  text-align: right

blockquote
  font-family: $body-font-italic
  font-size: $body-size + 1px
  color: #7f7f7f
  padding-left: $body-size
  border-left: 6px $gray-color solid
  margin: $line-height $body-size $line-height 10px
  
strong
  font-family: $body-font-bold 
  font-weight: normal

hr
  border: none
  font-size: 16px
  color: #bfbfbf
  text-align: center
  margin: 1em 0 2em 0
  &:after
    content: "✧✧✧"
    letter-spacing: 2em
    padding-left: 2em
  
// H5BP helper classes & mixins.
// @include h5bp-helpers

// Print styles.
@include h5bp-media

// Susy Grid Systems
// Contains special styling for tablets and desktop
@import "grid/magic"

// Bootstrap Pagination
@import "bootstrap-pagination"