//
// Main Stylesheet
//

@import "compass";
@import "h5bp";

// HTML5 Boilerplate Styles
@include h5bp-normalize;

@include h5bp-base-styles;

// HTML5 Boilerplate styling for Chrome Frame
@include h5bp-chromeframe;

// Variables

// Fonts

@mixin body-font-normal {
  font-family: "sofia-pro", Helvetica;
  font-weight: 300;
  font-style: normal;
}

@mixin body-font-italic {
  font-family: "sofia-pro", Helvetica;
  font-weight: 300;
  font-style: italic;
}

@mixin body-font-medium {
  font-family: "sofia-pro", Helvetica;
  font-weight: 500;
  font-style: normal;
}

@mixin body-font-bold {
  font-family: "sofia-pro", Helvetica;
  font-weight: 700;
  font-style: normal;
}

// Colors

$linklog-color: #669999;
$gray-color: #999999;
$red-color: #ff3333;
$background-color: #fdfdfd;
$text-color: #252525;

// Mobile-first font size and line height

$line-height: 25px;
$body-size: 17px;

// Border-Box

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Main layout styling

.container {

  margin: 0 auto;
  max-width: 671px;
  width: 95%;

  #main-content {
    overflow: visible;
  }
  #projects {
    .project_category {
      @include body-font-bold;
      font-size: 16px;
      text-decoration: underline;
      margin: 3em 0 1em 0;
    }
    article {
      padding-bottom: 0.2em;
      border-bottom: dashed 1px $gray-color;
      margin-bottom: 1.5em;
      h1 {
        font-size: 36px;
      }
      p {
        margin-top: 0.2em;
      }
    }
  }
  // Force images to scale down to their container widths.
  img {
    max-width: 100%;
    display: block;
    height: auto;
    margin-top: $line-height;
    @include border-radius;
  }
  header.title {
    width: 100%;
    border-bottom: solid $text-color 3px;
    margin-top: 12px;
    h1 {
      font-size: 52px;
    }
    a, a:visited {
      color: $text-color;
      @include body-font-bold;
    }
  }
  nav {
    margin: 4px 0 $line-height 0;
    a, a:visited {
      @include body-font-medium;
      color: $text-color;
    }
    ul {
      margin: 0;
      margin-bottom: $line-height * 2;
      padding: 0;
      li {
        display: inline;
        list-style-type: none;
        list-style-position: none;
        list-style-image: none;
      }
      li + li {
        padding-left: 0.9em;
      }
    }
  }
  a.selected {
    border-bottom: solid $red-color 1px;
  }
  article {
    a, a:hover, a:visited {
      &.linklog {
        color: $linklog-color;
      }
      &.comments-link {
        color: $gray-color;
      }
      &.reversefootnote {
        padding-left: 4px;
      }
    }
    li {
      margin-bottom: 0.5em;
    }
    hr.postDivider {
      font-size: 24px;
      color: $gray-color;
      margin: 2em 0 3em 0;
    }
    .postDate, .postDate a {
      &:link, &:hover, &:visited {
        color: $gray-color;
        @include body-font-normal;
      }
    }
    sup {
      vertical-align: middle;
      font-size: 0.75em;
    }
    .video-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
      height: 0;
      overflow: hidden;
    }
    .video-container {
      iframe, object, embed, video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    div.footnotes {
      border: thin dashed $gray-color;
      background: #f9f6f4;
      margin: $line-height 0;
      padding-right: 16px;
    }
    .footnotes {
      font-size: 17px;
      line-height: 23px;
      li {
        margin-bottom: 1em;
      }
      p {
        display: inline;
      }
    }
  }
}

// Your own styles go here.
body {
  @include body-font-normal;
  font-size: $body-size;
  line-height: $line-height;
  color: $text-color;
  background-color: $background-color;
}

em, i {
  @include body-font-italic;
  padding-right: 2px;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: $red-color;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  @include body-font-bold;
  font-size: 36px;
  color: #999999;
  line-height: 1.1em;
  margin: 8px 0 2px 0;
}

h2 {
  @include body-font-medium;
  font-size: 26px;
  line-height: 1em;
  margin: $line-height 0 $line-height 0;
}

header h2 {
  margin: 0;
  a, a:link, a:hover, a:visited {
    color: $gray-color;
  }
}

h3 {
  font-size: 20px;
  @include body-font-medium;
  text-decoration: underline;
  line-height: 1em;
  margin: $line-height 0 -4px 0;
}

p, pre {
  margin: ($line-height - 1) 0 ($line-height - 1) 0;
}

kbd {
  background-color: whitesmoke;
  border: 1px solid #dedede;
  padding: 0px 3px 2px;
}

footer {
  margin-top: 3em;
  text-align: right;
}

blockquote {
  @include body-font-italic;
  font-size: $body-size + 1px;
  color: #7f7f7f;
  padding-left: $body-size;
  border-left: 6px $gray-color solid;
  margin: $line-height $body-size $line-height 10px;
}

strong {
  @include body-font-bold;
}

hr {
  border: none;
  font-size: 16px;
  color: #bfbfbf;
  text-align: center;
  margin: 1em 0 2em 0;
  &:after {
    content: "✧✧✧";
    letter-spacing: 2em;
    padding-left: 2em;
  }
}

@media (min-width: 380px) { 
  $body-size: 18px;
  $line-height: 26px;
  body {
    font-size: $body-size;
    line-height: $line-height;
  }
}

@media (min-width: 550px) { 
  $body-size: 20px;
  $line-height: 30px;
  body {
    font-size: $body-size;
    line-height: $line-height;
  }
  header.title {
    a {
      font-size: 90px;
      line-height: 90px;
    }
  }
  nav {
    font-size: 25px;
  }
  h1 {
    font-size: 46px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 22px;
  }
  hr {
    margin: 2em 0 3em 0;
  }
  blockquote {
    font-size: $body-size + 1px;
    margin: 30px 40px;
  }
  .footnotes {
    font-size: 19px;
    line-height: 25px;
  }
}

// H5BP helper classes & mixins.
// @include h5bp-helpers

// Print styles.
@include h5bp-media;

// Bootstrap Pagination
@import "bootstrap-pagination";

@import "bigfoot";