%header
  %h1
    %a{href: post_url(article), title: article.data.title, class: ("linklog" if linklog?(article))}= article.data.title + ( linklog?(article) ? "→" : "" )
  - unless article.data.subtitle.nil?
    %h2
      %a{href: post_url(article), title: article.data.subtitle}= article.data.subtitle
  .postDate
    %a{href: article.url, title: "Permalink"}
      %small
        = article.date.strftime('%b %e %Y')
        = "- Permalink" if linklog?(article)