@charset "UTF-8";
/* line 22, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/* line 38, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* line 48, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 55, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
[hidden] {
  display: none; }

/* line 77, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
html {
  background: #fff;
  color: #000;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 88, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/* line 98, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
body {
  margin: 0; }

/* line 113, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
a:focus {
  outline: thin dotted; }

/* line 118, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* line 132, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 137, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

/* line 142, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0; }

/* line 147, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0; }

/* line 152, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

/* line 157, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

/* line 163, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 168, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
b,
strong {
  font-weight: bold; }

/* line 173, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
blockquote {
  margin: 1em 40px; }

/* line 178, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
dfn {
  font-style: italic; }

/* line 184, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* line 191, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 197, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
p,
pre {
  margin: 1em 0; }

/* line 203, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* line 213, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 220, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
q {
  quotes: none; }

/* line 225, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none; }

/* line 232, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
small {
  font-size: 80%; }

/* line 237, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 245, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
sup {
  top: -0.5em; }

/* line 249, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 260, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

/* line 267, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
dd {
  margin: 0 0 0 40px; }

/* line 272, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/* line 279, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* line 293, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* line 299, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 310, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 0; }

/* line 321, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
form {
  margin: 0; }

/* line 326, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 335, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

/* line 346, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/* line 358, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
button,
input {
  line-height: normal; }

/* line 367, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
button,
select {
  text-transform: none; }

/* line 379, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

/* line 389, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/* line 398, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

/* line 409, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 418, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 424, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 432, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 444, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 18, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
html,
button,
input,
select,
textarea {
  color: #222; }

/* line 26, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
body {
  font-size: 1em;
  line-height: 1.4; }

/* line 34, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 39, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 45, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 55, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
img {
  vertical-align: middle; }

/* line 60, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 67, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
textarea {
  resize: vertical; }

/* line 77, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_main.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* line 59, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 67, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
.container {
  margin: 0 auto;
  max-width: 671px;
  width: 95%; }
  /* line 73, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  .container #main-content {
    overflow: visible; }
  /* line 77, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  .container #projects .project_category {
    font-family: "sofia-pro", Helvetica;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    text-decoration: underline;
    margin: 3em 0 1em 0; }
  /* line 83, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  .container #projects article {
    padding-bottom: 0.2em;
    border-bottom: dashed 1px #999999;
    margin-bottom: 1.5em; }
    /* line 87, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
    .container #projects article h1 {
      font-size: 36px; }
    /* line 90, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
    .container #projects article p {
      margin-top: 0.2em; }
  /* line 96, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  .container img {
    max-width: 100%;
    display: block;
    height: auto;
    margin-top: 25px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  /* line 103, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  .container header.title {
    width: 100%;
    border-bottom: solid #252525 3px;
    margin-top: 12px; }
    /* line 107, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
    .container header.title h1 {
      font-size: 52px; }
    /* line 110, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
    .container header.title a, .container header.title a:visited {
      color: #252525;
      font-family: "sofia-pro", Helvetica;
      font-weight: 700;
      font-style: normal; }
  /* line 115, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  .container nav {
    margin: 4px 0 25px 0; }
    /* line 117, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
    .container nav a, .container nav a:visited {
      font-family: "sofia-pro", Helvetica;
      font-weight: 500;
      font-style: normal;
      color: #252525; }
    /* line 121, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
    .container nav ul {
      margin: 0;
      margin-bottom: 50px;
      padding: 0; }
      /* line 125, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
      .container nav ul li {
        display: inline;
        list-style-type: none;
        list-style-position: none;
        list-style-image: none; }
      /* line 131, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
      .container nav ul li + li {
        padding-left: 0.9em; }
  /* line 136, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  .container a.selected {
    border-bottom: solid #ff3333 1px; }
  /* line 141, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  .container article a.linklog, .container article a:hover.linklog, .container article a:visited.linklog {
    color: #669999; }
  /* line 144, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  .container article a.comments-link, .container article a:hover.comments-link, .container article a:visited.comments-link {
    color: #999999; }
  /* line 147, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  .container article a.reversefootnote, .container article a:hover.reversefootnote, .container article a:visited.reversefootnote {
    padding-left: 4px; }
  /* line 151, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  .container article li {
    margin-bottom: 0.5em; }
  /* line 154, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  .container article hr.postDivider {
    font-size: 24px;
    color: #999999;
    margin: 2em 0 3em 0; }
  /* line 160, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  .container article .postDate:link, .container article .postDate:hover, .container article .postDate:visited, .container article .postDate a:link, .container article .postDate a:hover, .container article .postDate a:visited {
    color: #999999;
    font-family: "sofia-pro", Helvetica;
    font-weight: 300;
    font-style: normal; }
  /* line 165, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  .container article sup {
    vertical-align: middle;
    font-size: 0.75em; }
  /* line 169, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  .container article .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden; }
  /* line 177, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  .container article .video-container iframe, .container article .video-container object, .container article .video-container embed, .container article .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  /* line 185, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  .container article div.footnotes {
    border: thin dashed #999999;
    background: #f9f6f4;
    margin: 25px 0;
    padding-right: 16px; }
  /* line 191, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  .container article .footnotes {
    font-size: 17px;
    line-height: 23px; }
    /* line 194, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
    .container article .footnotes li {
      margin-bottom: 1em; }
    /* line 197, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
    .container article .footnotes p {
      display: inline; }

/* line 205, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
body {
  font-family: "sofia-pro", Helvetica;
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
  line-height: 25px;
  color: #252525;
  background-color: #fdfdfd; }

/* line 213, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
em, i {
  font-family: "sofia-pro", Helvetica;
  font-weight: 300;
  font-style: italic;
  padding-right: 2px; }

/* line 218, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
a, a:hover, a:visited {
  text-decoration: none;
  color: #ff3333; }

/* line 223, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
h1, h2, h3 {
  font-weight: normal; }

/* line 227, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
h1 {
  font-family: "sofia-pro", Helvetica;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  color: #999999;
  line-height: 1.1em;
  margin: 8px 0 2px 0; }

/* line 235, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
h2 {
  font-family: "sofia-pro", Helvetica;
  font-weight: 500;
  font-style: normal;
  font-size: 26px;
  line-height: 1em;
  margin: 25px 0 25px 0; }

/* line 242, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
header h2 {
  margin: 0; }
  /* line 244, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  header h2 a, header h2 a:link, header h2 a:hover, header h2 a:visited {
    color: #999999; }

/* line 249, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
h3 {
  font-size: 20px;
  font-family: "sofia-pro", Helvetica;
  font-weight: 500;
  font-style: normal;
  text-decoration: underline;
  line-height: 1em;
  margin: 25px 0 -4px 0; }

/* line 257, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
p, pre {
  margin: 24px 0 24px 0; }

/* line 261, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
kbd {
  background-color: whitesmoke;
  border: 1px solid #dedede;
  padding: 0px 3px 2px; }

/* line 267, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
footer {
  margin-top: 3em;
  text-align: right; }

/* line 272, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
blockquote {
  font-family: "sofia-pro", Helvetica;
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  color: #7f7f7f;
  padding-left: 17px;
  border-left: 6px #999999 solid;
  margin: 25px 17px 25px 10px; }

/* line 281, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
strong {
  font-family: "sofia-pro", Helvetica;
  font-weight: 700;
  font-style: normal; }

/* line 285, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
hr {
  border: none;
  font-size: 16px;
  color: #bfbfbf;
  text-align: center;
  margin: 1em 0 2em 0; }
  /* line 291, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  hr:after {
    content: "✧✧✧";
    letter-spacing: 2em;
    padding-left: 2em; }

@media (min-width: 380px) {
  /* line 301, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  body {
    font-size: 18px;
    line-height: 26px; } }
@media (min-width: 550px) {
  /* line 310, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  body {
    font-size: 20px;
    line-height: 30px; }

  /* line 315, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  header.title a {
    font-size: 90px;
    line-height: 90px; }

  /* line 320, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  nav {
    font-size: 25px; }

  /* line 323, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  h1 {
    font-size: 46px; }

  /* line 326, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  h2 {
    font-size: 32px; }

  /* line 329, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  h3 {
    font-size: 22px; }

  /* line 332, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  hr {
    margin: 2em 0 3em 0; }

  /* line 335, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  blockquote {
    font-size: 21px;
    margin: 30px 40px; }

  /* line 339, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/screen.css.scss */
  .footnotes {
    font-size: 19px;
    line-height: 25px; } }
@media print {
  /* line 11, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  /* line 18, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  a,
  a:visited {
    text-decoration: underline; }

  /* line 23, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 27, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /* line 35, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  /* line 41, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 47, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  thead {
    display: table-header-group; }

  /* line 51, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  tr,
  img {
    page-break-inside: avoid; }

  /* line 56, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  /* line 64, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  /* line 71, /Users/simonganz/.rvm/gems/ruby-2.1.2/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_media.scss */
  h2,
  h3 {
    page-break-after: avoid; } }
/*!
 * Bootstrap v2.3.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
/* line 11, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bootstrap-pagination.css */
.clearfix {
  *zoom: 1; }

/* line 14, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bootstrap-pagination.css */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0; }

/* line 20, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bootstrap-pagination.css */
.clearfix:after {
  clear: both; }

/* line 23, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bootstrap-pagination.css */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

/* line 30, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bootstrap-pagination.css */
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 38, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bootstrap-pagination.css */
.pagination {
  margin: 20px 0;
  text-align: center; }

/* line 42, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bootstrap-pagination.css */
.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }

/* line 58, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bootstrap-pagination.css */
.pagination ul > li {
  display: inline; }

/* line 61, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bootstrap-pagination.css */
.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0; }

/* line 72, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bootstrap-pagination.css */
.pagination ul > li > a:hover,
.pagination ul > li > a:focus {
  font-family: "sofia-pro";
  font-weight: normal; }

/* line 78, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bootstrap-pagination.css */
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: transparent; }

/* line 84, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bootstrap-pagination.css */
.pagination ul > .active > a,
.pagination ul > .active > span {
  color: gray;
  cursor: default; }

/* line 89, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bootstrap-pagination.css */
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999999;
  background-color: transparent;
  cursor: default; }

/* line 97, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bootstrap-pagination.css */
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px; }

/* line 107, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bootstrap-pagination.css */
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px; }

/* line 116, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bootstrap-pagination.css */
.pagination-centered {
  text-align: center; }

/* line 119, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bootstrap-pagination.css */
.pagination-right {
  text-align: right; }

/* line 122, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bootstrap-pagination.css */
.pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 11px 19px;
  font-size: 17.5px; }

/* line 127, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bootstrap-pagination.css */
.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px; }

/* line 136, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bootstrap-pagination.css */
.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px; }

/* line 145, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bootstrap-pagination.css */
.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px; }

/* line 156, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bootstrap-pagination.css */
.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px; }

/* line 167, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bootstrap-pagination.css */
.pagination-small ul > li > a,
.pagination-small ul > li > span {
  padding: 2px 10px;
  font-size: 11.9px; }

/* line 172, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bootstrap-pagination.css */
.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
  padding: 0 6px;
  font-size: 10.5px; }

/* line 194, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
.bigfoot-footnote__button {
  position: relative;
  z-index: 5;
  top: -0.1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  padding: 0.35em;
  margin: 0 0.1em 0 0.2em;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  background-color: rgba(110, 110, 110, 0.2);
  backface-visibility: hidden;
  font-size: 1rem;
  line-height: 0;
  vertical-align: middle;
  text-decoration: none;
  font-smoothing: antialiased;
  transition-property: background-color;
  transition-duration: 0.25s; }
  /* line 225, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
  .bigfoot-footnote__button:hover, .bigfoot-footnote__button:focus {
    outline: none;
    background-color: rgba(110, 110, 110, 0.5); }
  /* line 231, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
  .bigfoot-footnote__button:active {
    background-color: rgba(110, 110, 110, 0.5); }
  /* line 235, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
  .bigfoot-footnote__button.is-active {
    background-color: #6e6e6e;
    transition-delay: 0.1s; }
  /* line 241, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
  .bigfoot-footnote__button:after {
    content: '';
    display: table;
    clear: both; }

/* line 270, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
.bigfoot-footnote__button__circle {
  display: inline-block;
  width: 0.25em;
  height: 0.25em;
  margin-right: 0.25em;
  float: left; }
  /* line 279, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
  .bigfoot-footnote__button__circle:last-child {
    margin-right: 0; }

/* line 306, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
.bigfoot-footnote__container {
  display: inline-block;
  position: relative;
  text-indent: 0; }

@media not print {
  /* line 153, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
  .footnote-print-only {
    display: none !important; } }
@media print {
  /* line 159, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
  .bigfoot-footnote,
  .bigfoot-footnote__button {
    display: none !important; } }
/* line 370, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
.bigfoot-footnote {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: inline-block;
  box-sizing: border-box;
  max-width: 90%;
  margin: 1.96924em 0;
  background: #fafafa;
  opacity: 0;
  border-radius: 0.5em;
  border: 1px solid #c3c3c3;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  line-height: 0;
  transition-property: opacity, -webkit-transform;
  transition-duration: 0.25s;
  transition-timing-function: ease, ease;
  transition-property: opacity, -webkit-transform;
  transition-duration: 0.25s;
  transition-timing-function: ease, ease;
  transform: scale(0.1) translateZ(0);
  transform-origin: 50% 0; }
  /* line 407, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
  .bigfoot-footnote.is-positioned-top {
    top: auto;
    bottom: 0; }
  /* line 412, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
  .bigfoot-footnote.is-active {
    transform: scale(1) translateZ(0);
    opacity: 0.97; }
  /* line 417, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
  .bigfoot-footnote.is-bottom-fixed {
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    right: auto;
    transform: translateY(100%);
    width: 100%;
    margin: 0;
    border-radius: 0;
    opacity: 1;
    border-width: 1px 0 0;
    transition: transform 0.3s ease; }
    /* line 436, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
    .bigfoot-footnote.is-bottom-fixed.is-active {
      transform: translateY(0); }
    /* line 440, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
    .bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__wrapper {
      margin: 0 0 0 50%;
      transform: translateX(-50%);
      max-width: 100%; }
    /* line 446, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
    .bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__wrapper,
    .bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__content {
      border-radius: 0; }
    /* line 451, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
    .bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__tooltip {
      display: none; }
  /* line 458, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
  .bigfoot-footnote.is-scrollable:after {
    content: '';
    position: absolute;
    bottom: 0.3375em;
    left: 0.3375em;
    z-index: 14;
    display: block;
    height: 0.78125em;
    width: 0.625em;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxNXB4IiB2aWV3Qm94PSIwIDAgMTIgMTUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4iPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IkFycm93IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxLjAwMDAwMCwgMS4wMDAwMDApIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiPgogICAgICAgICAgICA8cGF0aCBkPSJNNSwwIEw1LDExLjUiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0wLjUsNy41IEw1LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik00LjUsNy41IEw5LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lLTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcuMDAwMDAwLCAxMC4wMDAwMDApIHNjYWxlKC0xLCAxKSB0cmFuc2xhdGUoLTcuMDAwMDAwLCAtMTAuMDAwMDAwKSAiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=");
    background-size: cover;
    opacity: 0.1;
    transition-properties: opacity;
    transition-duration: 0.25s;
    transition-timing-function: ease, ease; }
  /* line 483, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
  .bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:before, .bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:after {
    content: '';
    position: absolute;
    width: 100%;
    z-index: 12;
    left: 0; }
  /* line 493, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
  .bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:before {
    top: -1px;
    height: 1.1em;
    border-radius: 0.5em 0.5em 0 0;
    background-image: linear-gradient(to bottom, #fafafa 50%, rgba(250, 250, 250, 0) 100%); }
  /* line 500, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
  .bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:after {
    bottom: -1px;
    height: 1.2em;
    border-radius: 0 0 0.5em 0.5em;
    background-image: linear-gradient(to top, #fafafa 50%, rgba(250, 250, 250, 0) 100%); }
  /* line 508, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
  .bigfoot-footnote.is-scrollable ::-webkit-scrollbar {
    display: none; }
  /* line 512, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
  .bigfoot-footnote.is-fully-scrolled:after, .bigfoot-footnote.is-fully-scrolled:before {
    opacity: 0;
    transition-delay: 0; }

/* line 530, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
.bigfoot-footnote__wrapper {
  position: relative;
  z-index: 14;
  width: 22em;
  display: inline-block;
  box-sizing: inherit;
  overflow: hidden;
  margin: 0;
  background-color: #fafafa;
  border-radius: 0.5em;
  line-height: 0; }

/* line 561, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
.bigfoot-footnote__content {
  position: relative;
  z-index: 8;
  display: inline-block;
  max-height: 15em;
  padding: 1.1em 1.3em 1.2em;
  box-sizing: inherit;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #fafafa;
  border-radius: 0.5em;
  font-smoothing: subpixel-antialiased;
  line-height: normal; }
  /* line 583, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
  .bigfoot-footnote__content img {
    max-width: 100%; }
  /* line 584, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
  .bigfoot-footnote__content *:last-child {
    margin-bottom: 0 !important; }
  /* line 585, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
  .bigfoot-footnote__content *:first-child {
    margin-top: 0 !important; }

/* line 596, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
.bigfoot-footnote__tooltip {
  position: absolute;
  z-index: 12;
  box-sizing: border-box;
  margin-left: -0.65em;
  width: 1.3em;
  height: 1.3em;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background: #fafafa;
  border: 1px solid #c3c3c3;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 0; }
  /* line 617, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
  .is-positioned-bottom .bigfoot-footnote__tooltip {
    top: -0.65em; }
  /* line 621, /Users/simonganz/Dropbox/SimonGanz.com/source/stylesheets/bigfoot.css.scss */
  .is-positioned-top .bigfoot-footnote__tooltip {
    bottom: -0.65em; }
