@charset "UTF-8";
@import url(h5bp/normalize-e58275a5.css);
@import url(h5bp/main-7388a7ba.css);
@import url(bootstrap-pagination-2e2e9f55.css);
@import url(bigfoot-2f3ad3e3.css);
/* line 52, screen-8a6f1b2d.css.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 60, screen-8a6f1b2d.css.scss */
.container {
  margin: 0 auto;
  max-width: 671px;
  width: 95%; }
  /* line 66, screen-8a6f1b2d.css.scss */
  .container #main-content {
    overflow: visible; }
  /* line 70, screen-8a6f1b2d.css.scss */
  .container #projects .project_category {
    font-family: "sofia-pro", Helvetica;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    text-decoration: underline;
    margin: 3em 0 1em 0; }
  /* line 76, screen-8a6f1b2d.css.scss */
  .container #projects article {
    padding-bottom: 0.2em;
    border-bottom: dashed 1px #999999;
    margin-bottom: 1.5em; }
    /* line 80, screen-8a6f1b2d.css.scss */
    .container #projects article h1 {
      font-size: 36px; }
    /* line 83, screen-8a6f1b2d.css.scss */
    .container #projects article p {
      margin-top: 0.2em; }
  /* line 89, screen-8a6f1b2d.css.scss */
  .container img {
    max-width: 100%;
    display: block;
    height: auto;
    margin-top: 25px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  /* line 96, screen-8a6f1b2d.css.scss */
  .container header.title {
    width: 100%;
    border-bottom: solid #252525 3px;
    margin-top: 12px; }
    /* line 100, screen-8a6f1b2d.css.scss */
    .container header.title h1 {
      font-size: 52px; }
    /* line 103, screen-8a6f1b2d.css.scss */
    .container header.title a, .container header.title a:visited {
      color: #252525;
      font-family: "sofia-pro", Helvetica;
      font-weight: 700;
      font-style: normal; }
  /* line 108, screen-8a6f1b2d.css.scss */
  .container nav {
    margin: 4px 0 25px 0; }
    /* line 110, screen-8a6f1b2d.css.scss */
    .container nav a, .container nav a:visited {
      font-family: "sofia-pro", Helvetica;
      font-weight: 500;
      font-style: normal;
      color: #252525; }
    /* line 114, screen-8a6f1b2d.css.scss */
    .container nav ul {
      margin: 0;
      margin-bottom: 50px;
      padding: 0; }
      /* line 118, screen-8a6f1b2d.css.scss */
      .container nav ul li {
        display: inline;
        list-style-type: none;
        list-style-position: none;
        list-style-image: none; }
      /* line 124, screen-8a6f1b2d.css.scss */
      .container nav ul li + li {
        padding-left: 0.9em; }
  /* line 129, screen-8a6f1b2d.css.scss */
  .container a.selected {
    border-bottom: solid #ff3333 1px; }
  /* line 134, screen-8a6f1b2d.css.scss */
  .container article a.linklog, .container article a:hover.linklog, .container article a:visited.linklog {
    color: #669999; }
  /* line 137, screen-8a6f1b2d.css.scss */
  .container article a.comments-link, .container article a:hover.comments-link, .container article a:visited.comments-link {
    color: #999999; }
  /* line 140, screen-8a6f1b2d.css.scss */
  .container article a.reversefootnote, .container article a:hover.reversefootnote, .container article a:visited.reversefootnote {
    padding-left: 4px; }
  /* line 144, screen-8a6f1b2d.css.scss */
  .container article li {
    margin-bottom: 0.5em; }
  /* line 147, screen-8a6f1b2d.css.scss */
  .container article hr.postDivider {
    font-size: 24px;
    color: #999999;
    margin: 2em 0 3em 0; }
  /* line 153, screen-8a6f1b2d.css.scss */
  .container article .postDate:link, .container article .postDate:hover, .container article .postDate:visited, .container article .postDate a:link, .container article .postDate a:hover, .container article .postDate a:visited {
    color: #999999;
    font-family: "sofia-pro", Helvetica;
    font-weight: 300;
    font-style: normal; }
  /* line 158, screen-8a6f1b2d.css.scss */
  .container article sup {
    vertical-align: middle;
    font-size: 0.75em; }
  /* line 162, screen-8a6f1b2d.css.scss */
  .container article .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden; }
  /* line 170, screen-8a6f1b2d.css.scss */
  .container article .video-container iframe, .container article .video-container object, .container article .video-container embed, .container article .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  /* line 178, screen-8a6f1b2d.css.scss */
  .container article div.footnotes {
    border: thin dashed #999999;
    background: #f9f6f4;
    margin: 25px 0;
    padding-right: 16px; }
  /* line 184, screen-8a6f1b2d.css.scss */
  .container article .footnotes {
    font-size: 17px;
    line-height: 23px; }
    /* line 187, screen-8a6f1b2d.css.scss */
    .container article .footnotes li {
      margin-bottom: 1em; }
    /* line 190, screen-8a6f1b2d.css.scss */
    .container article .footnotes p {
      display: inline; }

/* line 198, screen-8a6f1b2d.css.scss */
body {
  font-family: "sofia-pro", Helvetica;
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
  line-height: 25px;
  color: #252525;
  background-color: #fdfdfd; }

/* line 206, screen-8a6f1b2d.css.scss */
em, i {
  font-family: "sofia-pro", Helvetica;
  font-weight: 300;
  font-style: italic;
  padding-right: 2px; }

/* line 211, screen-8a6f1b2d.css.scss */
a, a:hover, a:visited {
  text-decoration: none;
  color: #ff3333; }

/* line 216, screen-8a6f1b2d.css.scss */
h1, h2, h3 {
  font-weight: normal; }

/* line 220, screen-8a6f1b2d.css.scss */
h1 {
  font-family: "sofia-pro", Helvetica;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  color: #999999;
  line-height: 1.1em;
  margin: 8px 0 2px 0; }

/* line 228, screen-8a6f1b2d.css.scss */
h2 {
  font-family: "sofia-pro", Helvetica;
  font-weight: 500;
  font-style: normal;
  font-size: 26px;
  line-height: 1em;
  margin: 25px 0 25px 0; }

/* line 235, screen-8a6f1b2d.css.scss */
header h2 {
  margin: 0; }
  /* line 237, screen-8a6f1b2d.css.scss */
  header h2 a, header h2 a:link, header h2 a:hover, header h2 a:visited {
    color: #999999; }

/* line 242, screen-8a6f1b2d.css.scss */
h3 {
  font-size: 20px;
  font-family: "sofia-pro", Helvetica;
  font-weight: 500;
  font-style: normal;
  text-decoration: underline;
  line-height: 1em;
  margin: 25px 0 -4px 0; }

/* line 250, screen-8a6f1b2d.css.scss */
p, pre {
  margin: 24px 0 24px 0; }

/* line 254, screen-8a6f1b2d.css.scss */
kbd {
  background-color: whitesmoke;
  border: 1px solid #dedede;
  padding: 0px 3px 2px; }

/* line 260, screen-8a6f1b2d.css.scss */
footer {
  margin-top: 3em;
  text-align: right; }

/* line 265, screen-8a6f1b2d.css.scss */
blockquote {
  font-family: "sofia-pro", Helvetica;
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  color: #7f7f7f;
  padding-left: 17px;
  border-left: 6px #999999 solid;
  margin: 25px 17px 25px 10px; }

/* line 274, screen-8a6f1b2d.css.scss */
strong {
  font-family: "sofia-pro", Helvetica;
  font-weight: 700;
  font-style: normal; }

/* line 278, screen-8a6f1b2d.css.scss */
hr {
  border: none;
  font-size: 16px;
  color: #bfbfbf;
  text-align: center;
  margin: 1em 0 2em 0; }
  /* line 284, screen-8a6f1b2d.css.scss */
  hr:after {
    content: "✧✧✧";
    letter-spacing: 2em;
    padding-left: 2em; }

@media (min-width: 380px) {
  /* line 294, screen-8a6f1b2d.css.scss */
  body {
    font-size: 18px;
    line-height: 26px; } }
@media (min-width: 550px) {
  /* line 303, screen-8a6f1b2d.css.scss */
  body {
    font-size: 20px;
    line-height: 30px; }

  /* line 308, screen-8a6f1b2d.css.scss */
  header.title a {
    font-size: 90px;
    line-height: 90px; }

  /* line 313, screen-8a6f1b2d.css.scss */
  nav {
    font-size: 25px; }

  /* line 316, screen-8a6f1b2d.css.scss */
  h1 {
    font-size: 46px; }

  /* line 319, screen-8a6f1b2d.css.scss */
  h2 {
    font-size: 32px; }

  /* line 322, screen-8a6f1b2d.css.scss */
  h3 {
    font-size: 22px; }

  /* line 325, screen-8a6f1b2d.css.scss */
  hr {
    margin: 2em 0 3em 0; }

  /* line 328, screen-8a6f1b2d.css.scss */
  blockquote {
    font-size: 21px;
    margin: 30px 40px; }

  /* line 332, screen-8a6f1b2d.css.scss */
  .footnotes {
    font-size: 19px;
    line-height: 25px; } }
