@charset "UTF-8";
/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/* line 39, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* line 47, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 55, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
[hidden] {
  display: none; }

/* line 69, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 82, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/* line 88, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
body {
  margin: 0; }

/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
a:focus {
  outline: thin dotted; }

/* line 109, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* line 122, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 127, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

/* line 132, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0; }

/* line 137, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0; }

/* line 142, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/* line 153, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 159, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
b,
strong {
  font-weight: bold; }

/* line 163, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
blockquote {
  margin: 1em 40px; }

/* line 168, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
dfn {
  font-style: italic; }

/* line 173, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 180, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
p,
pre {
  margin: 1em 0; }

/* line 188, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* line 195, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 202, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
q {
  quotes: none; }

/* line 208, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none; }

/* line 214, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
small {
  font-size: 80%; }

/* line 220, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 227, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
sup {
  top: -0.5em; }

/* line 231, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 245, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

/* line 249, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
dd {
  margin: 0 0 0 40px; }

/* line 256, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/* line 268, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/* line 274, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 285, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 0; }

/* line 296, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
form {
  margin: 0; }

/* line 301, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 310, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

/* line 323, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/* line 333, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
button,
input {
  line-height: normal; }

/* line 347, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

/* line 355, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default; }

/* line 364, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

/* line 374, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 384, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 390, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 397, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 409, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_main.scss */
html,
button,
input,
select,
textarea {
  color: #222222; }

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_main.scss */
body {
  font-size: 1em;
  line-height: 1.4; }

/* line 34, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 39, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 45, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 55, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_main.scss */
img {
  vertical-align: middle; }

/* line 60, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 67, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_main.scss */
textarea {
  resize: vertical; }

/* line 77, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_main.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* line 23, grid/_magic.sass */
.container {
  *zoom: 1;
  max-width: 460px;
  _width: 460px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box; }
  /* line 38, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after {
    content: "";
    display: table;
    clear: both; }

/* line 29, grid/_magic.sass */
header, #main-content, footer {
  overflow: hidden;
  *zoom: 1; }

@media (min-width: 620px) {
  /* line 38, grid/_magic.sass */
  .container {
    max-width: 620px;
    -webkit-background-origin: content;
    -moz-background-origin: content;
    -ms-background-origin: content-box;
    -o-background-origin: content-box;
    background-origin: content-box;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box; } }
@media (min-width: 780px) {
  /* line 38, grid/_magic.sass */
  .container {
    max-width: 780px;
    -webkit-background-origin: content;
    -moz-background-origin: content;
    -ms-background-origin: content-box;
    -o-background-origin: content-box;
    background-origin: content-box;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box; } }
@media (min-width: 620px) {
  /* line 44, grid/_magic.sass */
  .container h1 {
    font-size: 56px; }
  /* line 46, grid/_magic.sass */
  .container hr {
    margin: 2em 0 3em 0; } }
/* line 20, screen.css.sass */
body {
  font-family: StanPlusPro-Normal;
  font-size: 19px; }

/* line 24, screen.css.sass */
h1, h2, h3 {
  font-weight: normal; }

/* line 27, screen.css.sass */
h1 {
  font-family: ProximaNovaACond-Bold;
  font-size: 40px;
  color: #999999;
  text-transform: uppercase;
  line-height: 1em;
  margin: 8px 0 0 0; }

/* line 34, screen.css.sass */
h2 {
  font-family: ProximaNovaACond-Semibold;
  font-size: 34px;
  line-height: 1em;
  margin: 30px 0 0 0; }

/* line 39, screen.css.sass */
header h2 {
  margin: 0; }
  /* line 41, screen.css.sass */
  header h2 a, header h2 a:link, header h2 a:hover, header h2 a:visited {
    color: gray; }

/* line 43, screen.css.sass */
h3 {
  font-family: ProximaNovaACond-Semibold;
  text-decoration: underline;
  line-height: 1em;
  margin: 1em 0 -4px 0; }

/* line 49, screen.css.sass */
p, pre {
  line-height: 150%;
  margin: 30px 0 30px 0; }

/* line 53, screen.css.sass */
kbd {
  background-color: whitesmoke;
  border: 1px solid #dedede;
  padding: 0px 3px 2px; }

/* line 57, screen.css.sass */
footer {
  margin-top: 3em;
  text-align: right; }

/* line 61, screen.css.sass */
a, a:hover, a:visited {
  text-decoration: none;
  color: red; }

/* line 65, screen.css.sass */
blockquote {
  font-family: StanPlusPro-NormalItalic;
  color: #7f7f7f;
  padding-left: 14px;
  border-left: 6px gray solid; }

/* line 71, screen.css.sass */
strong {
  font-family: StanPlusPro-Bold;
  font-weight: normal; }

/* line 75, screen.css.sass */
hr {
  border: none;
  font-size: 16px;
  color: #bfbfbf;
  text-align: center;
  margin: 1em 0 2em 0; }
  /* line 81, screen.css.sass */
  hr:after {
    content: "✧✧✧";
    letter-spacing: 2em;
    padding-left: 2em; }

/* line 90, screen.css.sass */
.container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px; }
/* line 95, screen.css.sass */
.container img {
  margin: 6px 0 0 5px;
  max-width: 97%;
  -webkit-box-shadow: gray 0 0 10px;
  -moz-box-shadow: gray 0 0 10px;
  box-shadow: gray 0 0 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
/* line 101, screen.css.sass */
.container .title {
  font-size: 24px;
  margin-top: 16px; }
  /* line 104, screen.css.sass */
  .container .title a, .container .title a:visited {
    color: gray; }
/* line 107, screen.css.sass */
.container hr.postDivider {
  font-size: 24px;
  color: gray;
  margin: 2em 0 3em 0; }
/* line 112, screen.css.sass */
.container .postDate,
.container .postDate a {
  color: gray;
  padding-bottom: 0.25em; }
  /* line 116, screen.css.sass */
  .container .postDate:link, .container .postDate:hover, .container .postDate:visited,
  .container .postDate a:link,
  .container .postDate a:hover,
  .container .postDate a:visited {
    color: gray; }
/* line 119, screen.css.sass */
.container .footnotes {
  font-size: 16px; }
  /* line 121, screen.css.sass */
  .container .footnotes li {
    margin-bottom: 1em; }
  /* line 123, screen.css.sass */
  .container .footnotes p {
    display: inline; }

@media print {
  /* line 11, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  /* line 19, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  a,
  a:visited {
    text-decoration: underline; }

  /* line 23, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 27, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /* line 37, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  /* line 42, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 47, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  thead {
    display: table-header-group; }

  /* line 52, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  tr,
  img {
    page-break-inside: avoid; }

  /* line 56, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  /* line 66, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  /* line 72, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  h2,
  h3 {
    page-break-after: avoid; } }
/*
 * Bootstrap v2.3.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
/* line 11, bootstrap-pagination.css */
.clearfix {
  *zoom: 1; }

/* line 15, bootstrap-pagination.css */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0; }

/* line 20, bootstrap-pagination.css */
.clearfix:after {
  clear: both; }

/* line 23, bootstrap-pagination.css */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

/* line 30, bootstrap-pagination.css */
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 38, bootstrap-pagination.css */
.pagination {
  margin: 20px 0;
  text-align: center; }

/* line 42, bootstrap-pagination.css */
.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }

/* line 58, bootstrap-pagination.css */
.pagination ul > li {
  display: inline; }

/* line 62, bootstrap-pagination.css */
.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0; }

/* line 73, bootstrap-pagination.css */
.pagination ul > li > a:hover,
.pagination ul > li > a:focus {
  font-family: StanPlusPro-Bold;
  font-weight: normal; }

/* line 81, bootstrap-pagination.css */
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: transparent; }

/* line 85, bootstrap-pagination.css */
.pagination ul > .active > a,
.pagination ul > .active > span {
  color: gray;
  cursor: default; }

/* line 92, bootstrap-pagination.css */
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999999;
  background-color: transparent;
  cursor: default; }

/* line 98, bootstrap-pagination.css */
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px; }

/* line 108, bootstrap-pagination.css */
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px; }

/* line 116, bootstrap-pagination.css */
.pagination-centered {
  text-align: center; }

/* line 119, bootstrap-pagination.css */
.pagination-right {
  text-align: right; }

/* line 123, bootstrap-pagination.css */
.pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 11px 19px;
  font-size: 17.5px; }

/* line 128, bootstrap-pagination.css */
.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px; }

/* line 137, bootstrap-pagination.css */
.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px; }

/* line 148, bootstrap-pagination.css */
.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px; }

/* line 159, bootstrap-pagination.css */
.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px; }

/* line 168, bootstrap-pagination.css */
.pagination-small ul > li > a,
.pagination-small ul > li > span {
  padding: 2px 10px;
  font-size: 11.9px; }

/* line 173, bootstrap-pagination.css */
.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
  padding: 0 6px;
  font-size: 10.5px; }
