---
title: "Why Man of Steel's Action Sucked"
date: 2013-07-03 12:27 PDT
tags: "film, writing"

description: "Man of Steel lacks original or inventive ideas for its superhero fight scenes. Characters line up and punch and hit each other through building after building. 'Pow! Superman crashes into a bank vault!' 'Blammo! Zod plows through a gas station!' The spectacle entertains for about fifteen minutes, but the movie never finds a second gear. Superman and Zod are invulnerable. There are no consequences to each punch or each moment in any particular fight scene."
---

{::nomarkdown}
<img src="<%= image_path 'manOfSteel.jpg' %>" title="Man of Steel" />
{:/}

I did not like Man of Steel. If you want to know why, I recommend two posts about the film: 

* Rob Bricken's [hilarious Man of Steel recap][io9].
* Film Crit Hulk's [lengthy, rambling, and totally spot on review][badassdigest].[^dehulkifier]

But I do want to touch on one idea that I haven't seen explored much in reviews of the film.

## Good Action Requires Consequences and Character

A common defense of Man of Steel is that it has "good action." The movie has *huge* special effects sequences, featuring superpowered fist fights, flying dragon-butterfly monsters, laser eye-battles, etc... In short, superhero battles on a level never before attempted.

And all of that action is boring.

Man of Steel lacks original or inventive ideas for its superhero fight scenes. Characters line up and punch and hit each other through building after building. "Pow! Superman crashes into a bank vault!" "Blammo! Zod plows through a gas station!" The spectacle entertains for about fifteen minutes, but the movie never finds a second gear. Superman and Zod are invulnerable. There are no consequences to each punch or each moment in any particular fight scene. Perhaps sensing this problem, the movie tries to blow up bigger and bigger buildings.

The action scenes also lack character. We rarely understand the personal stakes in each fight. Superman has an elaborate brawl with three Kryptonians that destroys his home town of Smallville and at the end... *Nothing*. The villains just fly away because they got tired of fighting. That's because there was nothing at stake in the scene for them. The characters simply fight to fight.

What's so sad about this is that fun goofy action shouldn't require you to turn your brain off or ignore the story. Just look at the batpod sequence in *The Dark Knight*:

<div class="video-container">
  <iframe width="560" height="315" src="//www.youtube.com/embed/FPaTv98wUsE" frameborder="0" allowfullscreen></iframe>
</div>

The *Dark Knight* batpod sequence is much, much smaller than even the opening action scenes in Man of Steel, but it feels grounded and visceral. Harvey Dent, a character we've spent significant time with, is in mortal peril after bravely standing up to the Joker by claiming that he is Batman. If the Joker kills Harvey, the city will be thrown into further panic and chaos. Also in the audience's mind: Harvey and Batman are competing for the same woman, Rachel, so Batman saving Harvey will have significant personal consequences.

But forget all that character shit. Isn't this sequence fucking fun!? Batman reveals his batmobile can turn into a crazy sideways motorcycle, races across Gotham, drives through a mall, plays chicken with a semi-truck, swoops under the truck, flips the truck AT-AT style, then drives up a wall to turn around? HOLY SHIT THAT WAS COOL.

I defy anyone to find one sequence in Man of Steel even half as unexpected and entertaining as this *Dark Knight* sequence.

---

  [^dehulkifier]: You can read Hulk's article using my [DeHulkifier bookmarklet][simonganz].

[badassdigest]: http://badassdigest.com/2013/07/03/film-crit-hulk-man-of-steel/ "The Importance of Dramatizing Character"
[io9]: http://io9.com/the-most-important-scenes-from-man-of-steel-as-i-remem-516405346 "The Most Important Scenes from Man of Steel as I remember Them"
[simonganz]: http://simonganz.com/2013/04/the-dehulkifier/ "The Dehulkifier"