---
title: Craigslist Tips
subtitle: Avoiding Morons
date: 2013-05-04 10:12 PDT
---

<%= image_tag 'garageSale.jpg', title: "Craigslist sales" %>

<small><a href="http://www.flickr.com/photos/wonderal/3532838482/">Photo Credit: wonder_al</a></small>

There are a lot of sites out there offering tips for selling on Craigslist. Putting pictures in your ad, setting a reasonable price, deciding on a public place, etc. That's all fine.

But they don't mention the most important Craigslist tip: *How to Avoid Morons*. 

And it's actually pretty damn simple.

## Pick Up a Phone, Call Someone

Craigslist requires human interaction, and trying to avoid that interaction with emails or txt messages is self-defeating. 

Think about it. Craigslist uses an [anonymized email system][2303-001] that reduces each email address to a string of randomized characters. Would you try to negotiate a sale and meeting via the anonymous comments section on YouTube? Of course not. **Because SpunkyChowChik89 is not a person and cannot be trusted**. 

To successfully set up an exchange with minimum bullshit you have to break down the [anonymity][2303-002] by picking up the phone and talking to a human being.

In thirty seconds on the phone you'll instantly get a gut feeling about whether you're dealing with a moron or a serious buyer. Just as importantly, you will become a person in the buyer's mind rather than an anonymous douche. 

Almost every Craigslist meeting I've set via txt message has resulted in the buyer flaking out. Almost every call has resulted in a quick and easy sale. It's much harder to ignore a commitment made with your own voice. 

Craigslist is about trading time/convenience for cash. It's not always worth it, but don't make it harder on yourself by pretending you're dealing with Amazon or an ATM machine. You're not. You're dealing with a weird guy named Chaz who wants to buy your used Blackberry Playbook. Give Chaz a call.

  [2303-001]: http://www.craigslist.org/about/help/replying_to_posts "craigslist | replying to posts"
  [2303-002]: http://www.penny-arcade.com/comic/2004/03/19 "Penny Arcade - Green Blackboards (And Other Anomalies)"