---
title: "Ben Affleck Won‘t Ruin Batman vs. Superman"
subtitle: "That’s the Studio’s Job"
date: 2013-08-24 22:19 PDT
tags: "film, writing"
description: "In reaction to the news that Ben Affleck has been cast as Batman, here's a quick primer on why big budget Hollywood films stink."
---

[Ben Affleck is going to be the next Batman](http://www.huffingtonpost.com/2013/08/22/ben-affleck-batman-man-of-steel_n_3801418.html "Ben Affleck is the Next Batman"). And people are angry.

But if Batman vs. Superman ends up being a terrible movie, it won't be because of Affleck. It will be because of this:

<blockquote class="twitter-tweet" data-conversation="none" data-cards="hidden" align="center"><p>All this outrage over Affleck, yet no noise of the fact that theyve got less than two years to make a $200M movie they have no script for.</p>&mdash; Geoff LaTulippe (@DrGMLaTulippe) <a href="https://twitter.com/DrGMLaTulippe/statuses/370777905468432384">August 23, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

Batman wearing a Red Sox cap is the least of this movie's problems.