---
title: Ranndy Random Name Generator
date: 2014-06-20 22:18 PDT
tags: "tech, projects"
description: "Ranndy, a Random Name Generator for fiction writing and baby naming."
---

{::nomarkdown}
<a href="http://ranndy.com" title="Ranndy Random Name Generator"><img src="<%= image_path 'ranndyInterface.png' %>" title="Ranndy Random Name Generator" /></a>
{:/}

[Ranndy.com](http://ranndy.com "Ranndy Random Name Generator") is a random name generator for use in fiction writing and baby naming.

The site is mobile friendly and presents an infinite scroll of random names with hundreds of millions of possibilities.

## Choosing Not-So-Random Names

Ranndy uses US Census data, so you can get very specific about what sort of random name you want.

- If you were writing a character who should be roughly 30 years old, you can ask Ranndy to only show you popular names from 1984.

- If you were writing a character with a specific racial/ethnic background (Native American sheriff, African American businessman, etc.) you can ask Ranndy to only show you surnames associated with that racial/ethnic group.

- If you're looking for a truly out there name, you can ask Ranndy to only show you unpopular names. For instance, only five unlucky babies in the US were named Ranndy with two n's in the year 2005.

## Technical Details

Ranndy's front end is [backbone.js](http://backbonejs.org/) and its backend is [node.js/express](http://expressjs.com/). I used [Susy stylesheets](http://susy.oddbird.net/) for the mobile friendly grid.