---
title: Friday Night Lights Reunion
date: 2014-02-13 19:44 PST
tags: "writing, video"
---

Partway through last year, I got an amazing opportunity to work on a secret project for NBC. Today that project is out. It's a crossover between the cast of *Friday Night Lights* (one of the best dramas of the last ten years) with NBC's *Parenthood* (one of the best dramas on TV today).

If you're a fan of FNL, I think you'll really dig this little reunion. It's called Friday Night at the Luncheonette.

<div class="video-container">
	<iframe src="http://player.theplatform.com/p/NnzsPC/widget/select/kSfP3ym9LEdT?form=html" width="560" height="315" frameBorder="0" seamless="seamless" allowFullScreen></iframe>
</div>

I wrote episode three.

[[NBC Video](http://www.nbc.com/parenthood/video/friday-night-at-the-luncheonette/2745592 "Friday Night at the Luncheonette")]