---
title: Ranndy Random Name Generator Updated
date: 2014-11-29 11:35 PST
tags: "tech, projects"
---

I've released a new version of [Ranndy.com](http://ranndy.com "Ranndy Random Name Generator"), my random name generator for use in fiction writing and baby naming.

## New Starts With Feature

Ranndy can now show you names that start with certain letters.

- If you enter "Jo" in the Starts With field, Ranndy will only show you names that start with "Jo" like John, Jordan, Jose, etc.

{::nomarkdown}
<a href="http://ranndy.com" title="Ranndy Random Name Generator"><img src="<%= image_path 'ranndy/starts-with.png' %>" title="Ranndy Starts With Feature" /></a>
{:/}

## New Exclusion Feature

Ranndy can also do the opposite of Starts With, showing you names that DON'T start with certain letters. Just use the \* character in the Starts With field. 

- If you enter "D\*, S\*, P\*" in the Starts With field, Ranndy won't show you any names that start with D, S, or P. This is useful when you're writing a screenplay and don't want too many characters whose names sound or look similar on the page.

{::nomarkdown}
<a href="http://ranndy.com" title="Ranndy Random Name Generator"><img src="<%= image_path 'ranndy/exclusion.png' %>" title="Ranndy Exclusion Feature" /></a>
{:/}

## New Force Name Feature

Ranndy now lets you force a first or last name. If you already know a first or last name that you love, you can force that name with the ^ character in the Starts With field. 

- If you enter "Smith^" in the Last Name Starts With field, then Ranndy will show you random first names but every last name will be "Smith". This is useful for baby naming and also creating family members for characters.

{::nomarkdown}
<a href="http://ranndy.com" title="Ranndy Random Name Generator"><img src="<%= image_path 'ranndy/force-name.png' %>" title="Ranndy Force Name Feature" /></a>
{:/}

## Popularity Tweaks

I've also made some tweaks to how Ranndy ranks first names by popularity. The default setting of "High" popularity is now much broader, which should give a better variety of names without including too many weird names.

## Project Page

To learn more about Ranndy, you can visit [my first blog post about it](http://simonganz.com/2014/06/ranndy-random-name-generator/ "Ranndy Random Name Generator").