---
title: Friday Night Lights Reunion
date: 2014-02-13 19:44 PST
tags: "writing, video"
---

Partway through last year, I got an amazing opportunity to work on a secret project for NBC. Today that project is out. It's a crossover between the cast of *Friday Night Lights* (one of the best dramas of the last ten years) with NBC's *Parenthood* (one of the best dramas on TV today).

If you're a fan of FNL, I think you'll really dig this little reunion. It's called Friday Night at the Luncheonette.

<div class="video-container">
	<iframe width="560" height="315" src="//www.youtube.com/embed/0UbUZjfvq1c?list=PLRUSbbQynOdH2NI5xLJ03K_tdIaTRTukk" frameborder="0" allowfullscreen></iframe>
</div>

I wrote episode three.

[[Youtube]](http://www.youtube.com/watch?v=0UbUZjfvq1c&list=PLRUSbbQynOdH2NI5xLJ03K_tdIaTRTukk&feature=share "Friday Night at the Luncheonette") -- [[NBC Video](http://www.nbc.com/parenthood/video/friday-night-at-the-luncheonette/2745592 "Friday Night at the Luncheonette")]