---
title: Fountain Loader 2.0
date: 2015-06-29 09:00 PDT
tags: "tech, projects, writing"
---

I'm releasing a major new update to my screenwriting app, [Fountain Loader](http://fountainloader.com "Fountain Loader for Google Docs").

{::nomarkdown}
<div class="video-container">
    <video autoplay loop controls poster="http://fountainloader.com/videos/fountain-loader-2.png">
    <source id="webmsource" src="http://fountainloader.com/videos/fountain-loader-2.webm" type="video/webm">
    <source id="mp4source" src="http://fountainloader.com/videos/fountain-loader-2.mp4" type="video/mp4">
    <img src="http://fountainloader.com/videos/fountain-loader-2.gif">
    </video>
</div>
{:/}

## Background

To quickly recap, Fountain Loader is a web app that makes it easy to write screenplays in Google Docs.

It builds off the brilliant work of [John August][1515-0004], [Nima Yousefi][1515-0005], and [Stu Maschwitz][1515-0006] who created the [fountain screenwriting format][fountain].

What the hell is a screenwriting format? Well fountain is really just a basic set of formatting rules. If you write text that follows those rules, then that text can be easily converted into a finished screenplay using great programs like [Highland][1515-0002], [Slugline][1515-0003], and now Fountain Loader.

Here's a [BEFORE][] and [AFTER][] example to help you get the idea.

  [BEFORE]: http://fountain.io/_downloads/Big%20Fish.fountain "Big Fish.fountain"
  [AFTER]: http://fountain.io/_downloads/Big%20Fish.pdf "Big Fish.pdf"

## What's New: Final Draft Support & Multicam Support

The new Fountain Loader can now not only preview screenplays but also convert fountain files into [Final Draft][1515-0007] FDX files, complete with title pages. What's more, it has some features that even Highland and Slugline lack. 

If you're writing a television script rather than a feature film script, Fountain Loader has built-in tools to make that easier. By labeling the top of your script with the "Format: Multicam" tag, Fountain Loader will automatically produce a Final Draft file with classic sitcom formatting. It will also convert Act Breaks into their proper Final Draft elements rather than just converting them into centered action text.

The new Final Draft export feature also supports script notes and some really complicated overlapping text styles.[^brag]

## Google Docs is Now Screenwriting Software

I made this update because my writing partner and I were writing a multicam script, and everytime I wanted to check the page count, I had to copy and paste the script into Highland, output a Final Draft file, then open up Final Draft, import a multicam template, and then fix all the act breaks. Now that's a one-click process.

It's been a huge improvement for us. Writing a screenplay collaboratively in Google Docs is now much, much easier. When we were staff writers on NBC's About a Boy, we wrote our episode in Google Docs using fountain and Fountain Loader. Everything we write from now on will live in Google Docs and then end up in Final Draft only when we're ready to distribute our scripts.

## Links

- <http://fountainloader.com>
- [Fountain Loader project page]
- [Fountain syntax page][fountain]

[^brag]: Fountain Loader does a good job with tricky, edge case Fountain formatting. **EXAMPLE:** "\_David is \*\*stunned\*\*. How could \*she\* do this \*\*\*to\*\*\* him?\_"

[Fountain Loader Project Page]: http://simonganz.com/2014/06/fountain-loader-for-google-drive/
[fountain]: http://fountain.io/ "Fountain - A markup language for screenwriting."
[1515-0002]: http://quoteunquoteapps.com/highland/ "Highland - Quote-Unquote Apps"
[1515-0003]: http://slugline.co/ "Slugline. Simply Screenwriting."
[1515-0004]: http://johnaugust.com/ "John August"
[1515-0005]: http://nimayousefi.com/ "Nima Yousefi"
[1515-0006]: http://prolost.com/ "Prolost"
[1515-0007]: https://www.finaldraft.com/ "Official Final Draft - #1-Selling Screenwriting Software - Final Draft"
