---
title: Santa Clarita Diet on Netflix
date: 2017-02-17 19:16 PST
tags: writing
---

{::nomarkdown}
<a href="https://www.netflix.com/title/80095815">
<img src="<%= image_path 'SCD.jpg' %>" title="Santa Clarita Diet" />
</a>
{:/}

[Santa Clarita Diet][] season one is now streaming on Netflix! Aaron and I worked on this series and had a blast helping mad genius Victor Fresco craft a darkly hilarious murder sitcom.

[Santa Clarita Diet]: https://www.netflix.com/title/80095815
