---
title: Miss 2059
date: 2017-02-17 18:36 PST
tags: writing
---

{::nomarkdown}
<a href="https://www.go90.com/a/pd5LlGvACWw">
<img src="<%= image_path 'miss2059.jpg' %>" title="Miss 2059" />
</a>
{:/}

Last year, Aaron and I developed and produced [Miss 2059][], an awesome sci-fi comedy/drama with YouTube star [Anna Akana][]. You can stream all 12 episodes on Verizon's Go90 platform.

This was an amazing project that required the hard work of like a billion different awesome people and we're so proud to have gotten the chance to produce it with Anna and the fine folks at [New Form Digital][]. 

[Miss 2059]: https://www.go90.com/a/pd5LlGvACWw "Miss 2059 on Go90"
[Anna Akana]: http://youtube.com/AnnaAkana "Anna Akana on YouTube"
[New Form Digital]: http://newformdigital.com "New Form Digital"
