---
title: Santa Clarita Diet Season 2
date: 2018-04-17 22:00 PDT
tags: writing
---

{::nomarkdown}
<a href="https://www.netflix.com/title/80095815">
<img src="<%= image_path 'scd-season-2-keyart.jpg' %>" title="Santa Clarita Diet - Season 2" />
</a>
{:/}

[Santa Clarita Diet][] season two is now streaming on Netflix! So incredibly proud to have worked on this. It's funnier than the first season and delightfully weird.

[Santa Clarita Diet]: https://www.netflix.com/title/80095815
