---

title: Map of Los Angeles Preferential Parking Districts
date: 2020-05-21 17:12 PDT
tags: 

---

Posting this so I have an easy place to find it. LADOT provides [their own map](https://data.lacity.org/A-Livable-and-Sustainable-City/LADOT-Preferential-Parking-Districts-PPD-/2ckn-xmjp) but it's ugly and hard to use.


<div class="video-container">
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=17m7ggdswPCIAC_7SNzcaqqiBzLnZH0_s" width="640" height="480"></iframe>
</div>
