---
title:  About Simon Ganz
layout: layout
selected_nav: "about"
changefreq: "monthly"
priority: 1

description: "Simon Ganz is a television writer living in Los Angeles. He designs the occasional web or tech project in his spare time."
---

:markdown
  Simon Ganz is a television writer living in Los Angeles. He designs the occasional web or tech project in his spare time and hosts [IVFML](https://www.huffpost.com/entry/ivfml-podcast_n_592dc2cae4b055a197cda587), a Huff Post podcast about infertility.

%hr
