---
title:  About Simon Ganz
layout: layout
selected_nav: "about"
changefreq: "monthly"
priority: 1

description: "Simon Ganz is a writer living in Los Angeles. He works as a writers' assistant in television and designs the occasional web or tech project in his spare time."
---

Simon Ganz is a writer living in Los Angeles. He is currently employed as a staff writer on <a href="https://www.nbc.com/about-a-boy">NBC's About a Boy</a> and designs the occasional web or tech project in his spare time.

%hr