---
title:  About Simon Ganz
layout: layout
selected_nav: "about"
changefreq: "monthly"
priority: 1

description: "Simon Ganz is a writer living in Los Angeles. He works as an assistant for various comedians and designs the occasional web or tech project in his spare time."
---

Simon Ganz is a writer living in Los Angeles. He works as an assistant for various comedians and designs the occasional web or tech project in his spare time.

%hr