---
title:     Simon Ganz
layout: layout
pageable: true
per_page: 10
---


- blog.articles[0...5].each do |article|
  %article
    %header
      %h1
        %a{href: article.url, title: article.title}= article.title
      .postDate
        %small= article.date.strftime('%b %e %Y')
    = article.body
    
    
    %hr.postDivider
    
= page_articles.count