---
title:  Simon Ganz's Projects
layout: layout
selected_nav: "projects"
changefreq: "monthly"
priority: 1
---

#projects

  %h1.project_category Tech Projects

  %article
    %header
      %h1 
        %a{href: "http://simonganz.com/2013/04/the-dehulkifier/", title: "The DeHulkifier"} The DeHulkifier
      %h2 
        %a{href: "http://simonganz.com/2013/04/the-dehulkifier/", title: "The DeHulkifier"} A Bookmarklet to Cure Film Crit Hulk

  %h1.project_category Comedy Projects

  %article
    %header
      %h1 
        %a{href: "http://www.youtube.com/watch?v=IE-utC68l2I", title: "Bill Clinton Robocall"} Bill Clinton Robocall
      %h2 
        %a{href: "http://www.youtube.com/watch?v=IE-utC68l2I", title: "Bill Clinton Robocall"} A Short Comedy Sketch from the 2012 Election

  %article
    %header
      %h1 
        %a{href: "http://www.dailysquelch.com", title: "The Daily Squelch"} The Daily Squelch
      %h2 
        %a{href: "http://www.dailysquelch.com", title: "The Daily Squelch"} An Onion-style Comedy Site from 2007-2008


%hr