---
title:  Simon Ganz's Projects
layout: layout
selected_nav: "projects"
changefreq: "monthly"
priority: 1
---

#projects

  %h1.project_category Tech Projects

  %article
    %header
      %h1 
        %a{href: "http://simonganz.com/2013/04/the-dehulkifier/"} The Dehulkifier
      %h2 
        %a{href: "http://simonganz.com/2013/04/the-dehulkifier/"} A Bookmarklet to Cure Film Crit Hulk

  %h1.project_category Comedy Projects

  %article
    %header
      %h1 
        %a{href: "http://www.youtube.com/watch?v=IE-utC68l2I"} Bill Clinton Robocall
      %h2 
        %a{href: "http://www.youtube.com/watch?v=IE-utC68l2I"} A Short Comedy Sketch from the 2012 Election

  %article
    %header
      %h1 
        %a{href: "http://www.youtube.com/watch?v=IE-utC68l2I"} The Daily Squelch
      %h2 
        %a{href: "http://www.youtube.com/watch?v=IE-utC68l2I"} An Onion-style Comedy Site from 2007-2008


%hr