---
title:  Simon Ganz's Projects
layout: layout
selected_nav: "projects"
changefreq: "monthly"
priority: 1

description: "List of publicly available projects created by Simon Ganz."
---

#projects

  %h1.project_category Parenthood

  %article
    %header
      %h1 
        %a{href: "http://simonganz.com/2014/02/friday-night-lights-parenthood-webisodes/", title: "Friday Night at the Luncheonette"} Friday Night at the Luncheonette
      %h2 
        %a{href: "http://simonganz.com/2014/02/friday-night-lights-parenthood-webisodes/", title: "Friday Night at the Luncheonette"} Friday Night Lights mini-reunion/crossover with the cast of Parenthood. I wrote episode 3.


  %h1.project_category Tech Projects

  %article
    %header
      %h1 
        %a{href: "http://simonganz.com/2013/12/walkscore-for-redfin-chrome-extension/", title: "Walkscore for Redfin Chrome Extension"} Walkscore for Redfin Chrome Extension
      %h2 
        %a{href: "http://simonganz.com/2013/12/walkscore-for-redfin-chrome-extension/", title: "Walkscore for Redfin Chrome Extension"} Chrome Extension to Display Walkscore.com Ratings on Redfin.com Real Estate Pages

  %article
    %header
      %h1 
        %a{href: "http://simonganz.com/2013/04/the-dehulkifier/", title: "The DeHulkifier"} The DeHulkifier
      %h2 
        %a{href: "http://simonganz.com/2013/04/the-dehulkifier/", title: "The DeHulkifier"} Bookmarklet to Cure Film Crit Hulk
        
  %article
    %header
      %h1 
        %a{href: "http://random-name-generator.herokuapp.com/", title: "Random Name Generator"} Random Name Generator
      %h2 
        %a{href: "http://random-name-generator.herokuapp.com/", title: "Random Name Generator"} Rails App to Generate Random Names for Use in Fiction Writing

  %h1.project_category Comedy Projects

  %article
    %header
      %h1 
        %a{href: "http://www.youtube.com/watch?v=IE-utC68l2I", title: "Bill Clinton Robocall"} Bill Clinton Robocall
      %h2 
        %a{href: "http://www.youtube.com/watch?v=IE-utC68l2I", title: "Bill Clinton Robocall"} Short Comedy Sketch from the 2012 Election

  %article
    %header
      %h1 
        %a{href: "http://www.dailysquelch.com", title: "The Daily Squelch"} The Daily Squelch
      %h2 
        %a{href: "http://www.dailysquelch.com", title: "The Daily Squelch"} Onion-style Comedy Site from 2007-2008


%hr