---
title:  Simon Ganz's Projects
layout: layout
selected_nav: "projects"
changefreq: "monthly"
priority: 1
description: "List of publicly available projects created by Simon Ganz."
---

#projects

  %h1.project_category Television & Web Media

  %article
    %header
    :markdown
      # [Hunt the Truth Season Two](http://huntthetruth.tumblr.com "Hunt the Truth")
          
      My partner and I wrote four episodes of this awesome Halo podcast/radio drama.
          
      # [About a Boy](http://www.nbc.com/about-a-boy "About a Boy - NBC.com")

      I was a staff writer on season two of NBC's About a Boy and wrote episode 17, which you can purchase on [Amazon][AmazonAAB] or [iTunes][iTunesAAB].

      # [Parenthood Web Series](http://simonganz.com/2014/02/friday-night-lights-parenthood-webisodes/ "Friday Night at the Luncheonette")

      I wrote a webisode for NBC's Parenthood featuring a crossover with Friday Nights Lights.

      [AmazonAAB]: https://www.amazon.com/About-a-Babymoon/dp/B011CGNKQQ/ref=as_sl_pc_qf_sp_asin_til?tag=simongcom-20&linkCode=w00&linkId=AX2W3CAHYG63LZZW&creativeASIN=B011CGNKQQ
      [iTunesAAB]: https://itunes.apple.com/us/tv-season/about-a-babymoon/id916041060?i=1020546458


  %h1.project_category Tech Projects

  %article
    %header
    :markdown
      # [Fountain Loader for Google Drive](http://simonganz.com/2014/06/fountain-loader-for-google-drive/ "Fountain Loader for Google Drive")

      This is a web app I created that makes it easy to write screenplays in Google Docs. It uses John August's [Fountain screenwriting syntax](http://fountain.io/ "Fountain - A markup language for screenwriting.").

      # [Ranndy the Random Name Generator](http://simonganz.com/2014/06/ranndy-random-name-generator/ "Ranndy Random Name Generator")

      A web app that generates random names for use in fiction writing and baby naming. It uses US Census data so it can generate hundreds of millions of random names.

      # [The DeHulkifier](http://simonganz.com/2013/04/the-dehulkifier/ "The DeHulkifier")

      A bookmarklet to properly capitalize articles by film writer [Film Crit Hulk](https://twitter.com/filmcrithulk "FILM CRIT HULK (@FilmCritHULK) - Twitter").

      # [Walkscore for Redfin Chrome Extension](http://simonganz.com/2013/12/walkscore-for-redfin-chrome-extension/ "Walk Score for Redfin Chrome Extension")

      A Chrome extension that displays Walkscore.com ratings on Redfin.com real estate pages.


  %h1.project_category Comedy Projects

  %article
    %header
    :markdown
      # [Bill Clinton Robocall](http://www.youtube.com/watch?v=IE-utC68l2I "Bill Clinton Robocall 2012 - YouTube")

      Short comedy sketch I made during the 2012 election.

      # [The Daily Squelch](http://www.dailysquelch.com "The Daily Squelch")

      A now-defunct comedy site I ran in college from 2007 to 2008.

%hr
